
dataset: piad
setting: seen
ckpt: ckpt/piad_seen.pt
seed: 10043
data_root: piad_dataset

model_3d:
  normal_channel: false
  num_heads: 4
  emb_dim: 512
  N_p: 64
  n_groups: 40
  project_dim: 64
  freeze_text_encoder: false
  text_encoder_type: roberta-base
  training: false
  level: 3
  fuse_level: false

  point_encoder:
    layers:
      - npoint: 512
        radius: [0.1, 0.2, 0.4]
        nsample: [32, 64, 128]
        in_channel: 3
        mlp:
          - [32, 32, 64]
          - [64, 64, 128]
          - [64, 96, 128]
      - npoint: 128
        radius: [0.4, 0.8]
        nsample: [64, 128]
        in_channel: 320
        mlp:
          - [128, 128, 256]
          - [128, 196, 256]
      - npoint: 64
        radius: [0.2, 0.4]
        nsample: [16, 32]
        in_channel: 512
        mlp:
          - [128, 128, 256]
          - [128, 196, 256]
  fp_layers:
    fp3:
      in_channel: 512
      emb_add: true
      mlp: [768, 512]
    fp2:
      in_channel: 832
      mlp: [768, 512]
    fp1:
      in_channel: 518
      add_normals: true
      mlp: [512, 512]
